.gameCard {
  transition: box-shadow var(--m-duration) var(--m-easing);
  &:hover {
    @apply --mx-shadow(var(--m-shadow-md));
  }
  cursor: pointer;
}

.gameIcon {
  width: --fn-literal(128px);
  aspect-ratio: 1;
  @apply --mx-borderColor(var(--m-color-neutral-heavy));
  border-radius: var(--m-radius);
}
