.gameCard {
  transition: box-shadow var(--m-dur) var(--m-ease);
  &:hover {
    @apply --mx-shadow(var(--m-shadow-md));
  }
  cursor: pointer;
}

.gameIcon {
  width: --fn-literal(128px);
  aspect-ratio: 1;
  @apply --mx-borderColor(var(--m-gray-heavy));
  border-radius: var(--m-rd);
}
