.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > * {
    @apply --mx-shadow(var(--m-shadow-md));
  }
}

.ticker {
  @apply --mx-bg(var(--m-accent));
  @apply --mx-bg(var(--m-accent-ink));
  width: 100%;
  position: relative;
  z-index: 1;
  padding: var(--m-sp-sm);
  font-weight: var(--m-fw-bold);
  text-transform: uppercase;
}
