.root {
  position: relative;

  &[data-dragging='true'] {
    transition: all var(--m-duration) var(--m-easing);
    @apply --mx-ring(--fn-ring(var(--m-color-accent, var(--m-lineWidth))));
    outline: var(--m-lineWidth-lg) var(--m-color-accent-light);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      @apply --mx-bg(var(--m-color-accent-light));
      opacity: 20%;
    }

    &[data-over-accepted='true'] {
      @apply --mx-ring(--fn-ring(var(--m-color-accent, --fn-literal(6px))));
      &::after {
        @apply --mx-bg(var(--m-color-neutral-paper));
      }
    }
  }
}

.thread {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -55%);
}
