.root {
  position: relative;

  &[data-dragging='true'] {
    transition: all var(--m-dur) var(--m-ease);
    @apply --mx-ring(--fn-ring(var(--m-accent, var(--m-lw))));
    outline: var(--m-lw-lg) var(--m-accent-light);

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      @apply --mx-bg(var(--m-accent-light));
      opacity: 20%;
    }

    &[data-over-accepted='true'] {
      @apply --mx-ring(--fn-ring(var(--m-accent, --fn-literal(6px))));
      &::after {
        @apply --mx-bg(var(--m-gray-paper));
      }
    }
  }
}

.thread {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -55%);
}
