.root {
  position: relative;
  transition: transform var(--m-dur) var(--m-ease);

  &[data-over-accepted='true'] {
    scale: 102%;
  }
}

.error {
  @apply --mx-bg(var(--m-tint-wash));
  @apply --mx-fg(var(--m-tint-ink));
}
