.tools {
  flex-direction: column;
  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.colorDot {
  width: --fn-literal(32px);
  height: --fn-literal(32px);
  border-radius: --fn-literal(999px);
}

.sizeDot {
  @apply --mx-bg(var(--m-gray-ink));
  border-radius: --fn-literal(999px);
}

.canvas {
  touch-action: none;
  aspect-ratio: 1;
  width: 100%;
  max-width: 50vh;
  @apply --mx-bg(var(--m-gray-paper));
  border-radius: var(--m-rd-lg);
  @apply --mx-borderColor(var(--m-gray-ink));
}

.fillMainLight {
  fill: var(--m-tint-light);
}

.fillMainDark {
  fill: var(--m-tint-heavy);
}

.fillBlack {
  fill: var(--m-gray-ink);
}
