.root {
  z-index: 1;
  font-size: var(--m-prose-primary-size);
}

.icon {
  height: --fn-literal(48px);
  aspect-ratio: 1;
  border-radius: var(--m-rd-sm);
  @apply --mx-borderColor(var(--m-gray-ink));
  border-width: var(--m-lw-sm);
}

.title {
  background: var(--m-gray-paper);
  padding: var(--m-sp-xs) var(--m-sp-sm);
  border-radius: var(--m-rd-sm);
}
