.root {
  width: auto;
  min-height: 48px;
  @apply --mx-borderColor(var(--m-color-neutral-heavy));
  border-radius: var(--m-radius-sm);
  padding: var(--m-space-sm);
  @apply --mx-bg(var(--m-color-neutral-paper));
}

.blank {
  width: --fn-literal(48px);
  height: --fn-literal(48px);
  @apply --mx-bg(var(--m-color-neutral-wash));
}

.tile {
  height: --fn-literal(48px);
}
