.boardRenderer {
  flex-basis: 0;
  min-width: 300px;
  min-height: 300px;
  max-width: 600px;
  max-height: 600px;
  flex-grow: 1;
}

.tabsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: var(--m-sp-lg);
}

.tabsTrigger[data-active] {
  @apply --mx-bg(var(--m-tint-light));
}

.tabsList {
  display: flex;
  align-items: center;
  gap: var(--m-sp-xs);
  padding: var(--m-sp-xs);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: var(--m-sp-sm);
}

.hand {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--m-sp-xs);
  align-items: center;
  flex-shrink: 0;
}
