@font-face {
  font-family: 'Knewave';
  src: url('/fonts/Knewave-Regular.ttf');
}

@font-face {
  font-family: 'Archivo Narrow';
  src: url('/fonts/ArchivoNarrow-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito-VariableFont_wght.ttf');
}

#root {
  min-height: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', system-ui;
}

.font-fancy {
  font-family: 'Knewave', system-ui;
  font-weight: 400;
}

.font-heading {
  font-family: 'Nunito', system-ui;
  font-weight: 700;
}
