.historical {
  padding: var(--m-sp-lg) var(--m-sp-sm);

  @media (min-width: 1024px) {
    padding-inline: var(--m-sp-lg);
  }
}

.root {
  padding: var(--m-sp-sm);

  @media (min-width: 1024px) {
    padding-inline: var(--m-sp-lg);
  }
}
