.main {
  max-width: 500px;
  width: 100%;
  margin-inline: auto;
}

.sequenceSection {
  padding-block-end: --fn-literal(40px);
}

.fillBlack {
  fill: var(--m-gray-ink);
}

.playerAttribution {
  font-size: var(--m-fs-sm);
  @apply --mx-fg(var(--m-tint-heavy));
  position: absolute;
  right: 0;
  bottom: 0;
}
