.main {
  min-height: 20vh;
  width: 100%;
  @apply --mx-shadow(var(--m-shadow-md));
}

.zone {
  flex: 1;
  min-height: 48px;
}

.reset {
  position: absolute;
  bottom: var(--m-sp-sm);
  right: var(--m-sp-sm);
}
