.leadIn {
  line-height: --fn-literal(24px);
  vertical-align: top;
}

.player {
  display: inline-flex;
  align-items: center;
  gap: var(--m-sp-sm);
  @apply --mx-bg(var(--m-tint-light));
  padding-inline-end: var(--m-sp-sm);
  margin-inline-start: var(--m-sp-sm);
  border-radius: --fn-literal(999px);
}
