.endDecorations {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  stroke-width: 3px;
}

.fillMainDark {
  fill: var(--m-tint-heavy);
}

.fillMain {
  fill: var(--m-tint);
}

.fillMainLight {
  fill: var(--m-tint-light);
}

.fillWater {
  fill: var(--m-color-blueberry-wash);
}

.originCenter {
  transform-origin: center;
}

.transparent {
  opacity: 20%;
}

.flower {
  stroke: var(--m-accent-heavy);
  stroke-width: 1;
  fill: var(--m-accent-light);
}

.pathOuter {
  fill: var(--m-tint-heavy);
  stroke: var(--m-tint-heavy);
  stroke: 5;
}

.pathInner {
  fill: var(--m-gray-paper);
  stroke: var(--m-gray-ink);
  stroke: 1;
}
