.history {
  padding: var(--m-sp-xs) var(--m-sp-md);
  border-radius: 0;
  margin-inline: calc(-1 * var(--m-sp-md));
  margin-block-end: calc(-1 * var(--m-sp-md));
  font-size: var(--m-fs-sm);
}

.playerStatuses {
  flex-shrink: 1;
}

.log {
  flex: 0 0 auto;
}

.secondaryControls {
  justify-content: space-between;
}
