.image {
  max-width: 80%;
  max-height: 60vh;
  width: auto;
  height: auto;
  border-radius: var(--m-rd-lg);
  margin-inline: auto;
}

.blockquote {
  width: 80%;
  margin-left: var(--m-sp-sm);
  border-left-width: var(--m-lw-md);
  border-left-style: solid;
  border-left-color: var(--m-tint-heavy);
}
