.trigger {
  overflow: clip;
  border-width: var(--m-lineWidth-lg);
  border-style: solid;
  border-color: var(--m-color-main-heavy);
  width: --fn-literal(64px);
  aspect-ratio: 1;
  @apply --mx-fg(var(--m-color-main-ink));
}

.icon {
  stroke-width: var(--m-lineWidth-lg);
  z-index: 1;
  position: relative;
}
