.trigger {
  overflow: clip;
  border-width: var(--m-lw-lg);
  border-style: solid;
  border-color: var(--m-tint-heavy);
  width: --fn-literal(64px);
  aspect-ratio: 1;
  @apply --mx-fg(var(--m-tint-ink));
}

.icon {
  stroke-width: var(--m-lw-lg);
  z-index: 1;
  position: relative;
}
