.root {
  position: fixed;
  pointer-events: none;
  @apply --mx-ring(inset --fn-ring(var(--m-tint), 5px));
  z-index: 10;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
}

.marker {
  position: absolute;
  top: var(--m-sp-sm);
  left: var(--m-sp-sm);
  @apply --mx-fg(var(--m-tint));
}
