.content {
  min-height: 400px;
  max-height: 80vh;
  width: --fn-literal(500px);
  max-width: 90vw;
  padding: var(--m-sp-md);
  display: flex;
  flex-direction: column;
  @apply --mx-bg-heavier(0.5);
}

.contentMain {
  margin-bottom: var(--m-sp-md);
}

.scrollArea {
  max-height: 800px;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--m-sp-sm);
  }
}

.markRead {
  flex: 1;
  font-weight: var(--m-fw-normal);
  align-items: start;
  text-align: start;
  padding: var(--m-sp-sm);
}

.checkPrimary {
  position: relative;
  left: -3px;
}

.checkSecondary {
  position: absolute;
  left: 13px;
}

.deleteButton {
  flex-shrink: 0;
}

.loadMoreButton {
  margin: auto;
  margin-top: var(--m-sp-lg);
}

.pip {
  position: absolute;
  left: 0;
  top: 0;
  height: --fn-literal(12px);
  width: --fn-literal(12px);
  border-radius: 50%;
  @apply --mx-bg(var(--m-accent-heavy));
  @apply --mx-borderColor(var(--m-accent-wash));
}
