.root {
  @apply --mx-bg(var(--m-tint-wash));
  flex: 1;
}

.scores {
  flex: 0 1 auto;
  min-height: 80px;
}

.main {
  position: sticky;
  top: var(--m-sp-sm);
  z-index: 1;
}

.hand {
  position: sticky;
  margin-block-end: var(--m-sp-lg);
  bottom: var(--m-sp-md);
  flex-shrink: 0;
  z-index: 10;
}
