@font-face {
  font-family: 'Knewave';
  src: url('/fonts/Knewave-Regular.ttf');
}

#root {
  flex: 1;
  min-height: 100vh;
}

.font-fancy {
  font-family: 'Knewave', system-ui;
  font-weight: 400;
}
