@font-face {
  font-family: 'Knewave';
  src: url('../public/fonts/Knewave-Regular.ttf');
}

#root {
  flex: 1;
  min-height: 100vh;
  isolation: isolate;
}

.font-fancy {
  font-family: 'Knewave', system-ui;
  font-weight: 400;
}
