@font-face {
  font-family: 'Knewave';
  src: url('../public/fonts/Knewave-Regular.ttf');
}
@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito-VariableFont_wght.ttf');
}

#root {
  flex: 1;
  min-height: 100vh;
  isolation: isolate;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', system-ui;
}

.font-fancy {
  font-family: 'Knewave', system-ui;
  font-weight: 400;
}
