.root {
  @apply --mx-bg(var(--m-tint-wash));
  @apply --mx-bg-heavier(1);
  @apply --mx-fg(var(--m-tint-ink));
  font-weight: var(--m-fw-bold);
  white-space: nowrap;
  padding-inline: var(--m-sp-xs);
  border-radius: var(--m-rd);
}
