name = "prod-long-game-public-api-service"
compatibility_date = "2025-01-01"
main = "./src/index.ts"
account_id = "5f843fcad78a2f4e1fee091c1d6c21ab"

compatibility_flags = ["nodejs_compat"]


[observability.logs]
enabled = true
invocation_logs = false

[vars]
UI_ORIGIN = "https://play.rout.games"
API_ORIGIN = "https://api.rout.games"
NODE_ENV = "production"
EMAIL_FROM = "noreply@rout.games"
# ! removes some state constraints - like letting client see global state for debuggin
DEV_MODE = false

[[services]]
binding = "PUBLIC_STORE"
service = "prod-long-game-db-service"
entrypoint = "PublicStore"

[[services]]
binding = "ADMIN_STORE"
service = "prod-long-game-db-service"
entrypoint = "AdminStore"

[[r2_buckets]]
binding = "AVATARS_BUCKET"
bucket_name = "prod-long-game-avatars"

[[durable_objects.bindings]]
name = "GAME_SESSION"
class_name = "GameSession"

[[migrations]]
tag = "v1"
new_classes = ["GameSessionState"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["GameSession"]
deleted_classes = ["GameSessionState"]
