name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
      - name: Install deps
        run: pnpm install
      - name: Write .env to app dir
        run: |
          echo "PUBLIC_API_ORIGIN=${{ vars.PUBLIC_API_ORIGIN }}" >> ./app/.env
          echo "PUBLIC_APP_ORIGIN=${{ vars.APP_ORIGIN }}" >> ./app/.env
          echo "PUBLIC_VAPID_PUBLIC_KEY=${{ secrets.VAPID_PUBLIC_KEY }}" >> ./app/.env
      - name: Build everything
        run: pnpm run build
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: Verify cloudflare token
        run: |
          curl -X GET "https://api.cloudflare.com/client/v4/user/tokens/verify" \
          -H "Authorization: Bearer ${{secrets.CLOUDFLARE_API_TOKEN}}" \
          -H "Content-Type:application/json"

      # - name: Migrate the database
      #   run: |
      #     pnpm migrations:apply:remote
      #   working-directory: ./services/db
      #   env:
      #     CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: Deploy Public API
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          packageManager: pnpm
          workingDirectory: ./services/api
          command: deploy -c ./wrangler.toml

      - name: Deploy App
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          packageManager: pnpm
          workingDirectory: ./app
          command: pages deploy dist --project-name=prod-long-game-app

      - name: Deploy Homepage
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          packageManager: pnpm
          workingDirectory: ./homepage
          command: pages deploy dist --project-name=prod-long-game-homepage
